<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          Current<span class="text-warning" style="font-size: 40px"> Fuel </span
          >Balance =
          <span style="font-size: 40px">{{ balance | currency }}</span>
        </h1>
        <p style="font-size: 20px; color: white">Add a transaction below</p>
        <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm)">
          <br />
          <div class="container">
            <div class="row">
              <div class="col-xl-4">
                <div class="form-group" style="padding: 10px">
                  <label style="color: white">Date</label>
                  <input
                    type="date"
                    class="form-control"
                    id="date"
                    required
                    ngModel
                    name="date"
                  />
                </div>
              </div>
              <br />
              <div class="col-xl-4">
                <div class="form-group" style="padding: 10px">
                  <label style="color: white">Amount</label>
                  <input
                    type="number"
                    class="form-control"
                    id="amount"
                    required
                    ngModel
                    name="amount"
                  />
                </div>
              </div>
              <br />
              <div class="col-xl-4">
                <div class="form-group" style="padding: 10px">
                  <label style="color: white">Transaction Type</label>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    name="transactionType"
                    id="transactionType"
                    ngModel
                  >
                    <option selected value="credit">Credit</option>
                    <option value="debit">Debit</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="form-group">
            <label style="color: white">Description</label>
            <textarea
              class="form-control"
              id="description"
              required
              ngModel
              name="description"
            ></textarea>
          </div>
          <br />
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!postForm.valid"
          >
            Submit Transaction
          </button>
        </form>
      </div>
      <div class="col-md-6">
        <h1>Recent Transactions</h1>
        <p style="font-size: 20px; color: white">
          **Delete topmost transaction to get a $0 balance**
        </p>

        <div
          class="card border-success mb-3"
          style="padding: 20px"
          *ngFor="let transaction of loadedTransactions; let i = index"
        >
          <div>
            <div class="card-header float-start" style="font-size: 20px">
              {{ transaction.date }}
            </div>
            <div class="card-header float-end">
              Ending Balance: {{ transaction.balance | currency }}
            </div>
            <br />
            <br />
            <div class="card-body">
              <span
                >{{ transaction.transactionType }}
                <h5 class="card-title" style="font-size: 50px">
                  {{ transaction.amount | currency }}
                </h5></span
              >
            </div>
            <em class="card-text">{{ transaction.description }}</em>
            <br />
            <button class="btn btn-danger float-end" (click)="onClick(i)">
              Delete
            </button>
          </div>
        </div>
        <app-modal *ngIf="question" (no)="onNo()" (yes)="onYes()"></app-modal>
      </div>
    </div>
  </div>
</div>
